@page
@model TrainingProject.Pages.UserPage.ApplicationListModel
@{
    ViewData["Title"] = "Application List";
}
<div class="col-md-12">
    <div class="card-card-primary">
        <div class="card-header bg-info">
            <h2 class="card-title">Application List</h2>
            <form method="post">
                <div class="card-body">

                </div>
            </form>
        </div>
    </div>
</div>